.header {
    background: #404040;
    height: 65px;
    padding: 0 4%;
}

.logo {
    width: 120px;
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px 0;
    float: left;
}

.title {
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 18px;
    margin: 16px 0;
    padding-left: 20px;
    float: left;
}

.assist {
    height: 32px;
    border-radius: 6px;
    margin: 16px;
    float: right;
}

.assist i {
    font-size: 14px;
    line-height: 28px;
    display: inline-block;
    height: 28px;
    padding-right: 5px;
}

.assist li{
    color: #CECECE;
}

:global(.ant-menu-dark .ant-menu-item > a){
    color: #CECECE;
}