<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/font_sc/iconfont.css">
</head>
<body style="background: #eee">
<div id='App'></div>
</body>
</html>
