<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpServerIP" value="127.0.0.1" />
    <add key="FtpUserID" value="yww" />
    <add key="FtpPassword" value="123" />
    <add key="localDir" value="D:\src" />
    <add key="remoteDir" value="dest" />
    <add key="intervalSecs" value="10" />
    <add key="scanSubs" value="true" />
    <!--<add key="RemoteDateDir" value="" />-->
    <!--<add key="backupDir" value="back" />-->
    <!--<add key="filter" value="*.*" />-->
    <!--<add key="backupErrDir" value="backerr" />-->
  </appSettings>
</configuration>